# é …ç›®ï¼šè©•ä¼°å’Œæ¸…ç†airbnb NYC 2019 æ•¸æ“š

## åˆ†æç›®æ ‡

æœ¬ç ”ç©¶é€é Airbnb æˆ¿æºè³‡æ–™ï¼Œåˆ†æä¸åŒåœ°å€èˆ‡æˆ¿å‹çš„åƒ¹æ ¼å·®ç•°ã€æˆ¿æºä¾›çµ¦çµæ§‹èˆ‡å¸‚å ´éœ€æ±‚ç‰¹å¾µ
<br>ä¸¦æ‰¾å‡ºå½±éŸ¿æˆ¿æºç«¶çˆ­åŠ›çš„é—œéµå› ç´ ï¼Œä»¥è©•ä¼°å¸‚å ´æ©Ÿæœƒèˆ‡å®šåƒ¹ç­–ç•¥ã€‚

<br>æœ¬éšæ®µä¸»è¦é‡å° Airbnb æˆ¿æºè³‡æ–™é€²è¡Œè³‡æ–™å“è³ªè©•ä¼°èˆ‡æ¸…ç†ï¼ŒåŒ…æ‹¬æª¢æŸ¥è³‡æ–™çµæ§‹ã€ç¼ºå¤±å€¼ã€é‡è¤‡å€¼èˆ‡ç•°å¸¸å€¼ï¼Œä»¥ç¢ºä¿è³‡æ–™çš„å¯é æ€§èˆ‡ä¸€è‡´æ€§ï¼Œç‚ºå¾ŒçºŒåˆ†æå¥ å®šåŸºç¤ã€‚


### æ¬„ä½èªªæ˜ï¼ˆData Dictionaryï¼‰

- **`id`**ï¼šæˆ¿æºçš„å”¯ä¸€è­˜åˆ¥ç¢¼
- **`name`**ï¼šæˆ¿æºåç¨±ï¼ˆç”±æˆ¿æ±è¨­å®šçš„æˆ¿æºæ¨™é¡Œï¼‰
- **`host_id`**ï¼šæˆ¿æ±çš„å”¯ä¸€è­˜åˆ¥ç¢¼
- **`host_name`**ï¼šæˆ¿æ±åç¨±
- **`neighbourhood_group`**ï¼šè¡Œæ”¿å€åŸŸï¼ˆåŸå¸‚ä¸­çš„å¤§å€åŸŸï¼Œä¾‹å¦‚ Manhattanã€Brooklynï¼‰
- **`neighbourhood`**ï¼šç¤¾å€åç¨±ï¼ˆè¼ƒç´°åˆ†çš„åœ°ç†ä½ç½®ï¼‰
- **`latitude`**ï¼šæˆ¿æºæ‰€åœ¨ä½ç½®çš„ç·¯åº¦åº§æ¨™
- **`longitude`**ï¼šæˆ¿æºæ‰€åœ¨ä½ç½®çš„ç¶“åº¦åº§æ¨™
- **`room_type`**ï¼šæˆ¿å‹é¡å‹ï¼ˆä¾‹å¦‚ Entire home/aptã€Private roomã€Shared roomï¼‰
- **`price`**ï¼šæ¯æ™šä½å®¿åƒ¹æ ¼ï¼ˆé€šå¸¸ä»¥ç¾å…ƒè¨ˆåƒ¹ï¼‰
- **`minimum_nights`**ï¼šæœ€ä½å…¥ä½å¤©æ•¸
- **`number_of_reviews`**ï¼šæˆ¿æºç´¯è¨ˆè©•è«–æ•¸é‡
- **`last_review`**ï¼šæœ€è¿‘ä¸€æ¬¡è©•è«–æ—¥æœŸ
- **`reviews_per_month`**ï¼šå¹³å‡æ¯æœˆè©•è«–æ•¸ï¼ˆåæ˜ æˆ¿æºæ´»èºåº¦èˆ‡éœ€æ±‚ï¼‰
- **`calculated_host_listings_count`**ï¼šè©²æˆ¿æ±æ“æœ‰çš„æˆ¿æºæ•¸é‡
- **`availability_365`**ï¼šä¸€å¹´å…§å¯ä¾›é è¨‚çš„å¤©æ•¸ï¼ˆ0â€“365 å¤©ï¼‰

## è®€å–æ•¸æ“š

In [1]:
import pandas as pd

In [2]:
original_data = pd.read_csv('airbnb_NYC_2019.csv')

In [3]:
original_data

,id,name,host_id,host_name,neighbourhood_group,neighbourhood,latitude,longitude,room_type,price,minimum_nights,number_of_reviews,last_review,reviews_per_month,calculated_host_listings_count,availability_365
0,2539,Clean & quiet apt home by the park,2787,John,Brooklyn,Kensington,40.64749,-73.97237,Private room,149,1,9,2018-10-19,0.21,6,365
1,2595,Skylit Midtown Castle,2845,Jennifer,Manhattan,Midtown,40.75362,-73.98377,Entire home/apt,225,1,45,2019-05-21,0.38,2,355
2,3647,THE VILLAGE OF HARLEM....NEW YORK !,4632,Elisabeth,Manhattan,Harlem,40.80902,-73.94190,Private room,150,3,0,NaN,NaN,1,365
3,3831,Cozy Entire Floor of Brownstone,4869,LisaRoxanne,Brooklyn,Clinton Hill,40.68514,-73.95976,Entire home/apt,89,1,270,2019-07-05,4.64,1,194
4,5022,Entire Apt: Spacious Studio/Loft by central park,7192,Laura,Manhattan,East Harlem,40.79851,-73.94399,Entire home/apt,80,10,9,2018-11-19,0.10,1,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
48890,36484665,Charming one bedroom - newly renovated rowhouse,8232441,Sabrina,Brooklyn,Bedford-Stuyvesant,40.67853,-73.94995,Private room,70,2,0,NaN,NaN,2,9
48891,36485057,Affordable room in Bushwick/East Williamsburg,6570630,Marisol,Brooklyn,Bushwick,40.70184,-73.93317,Private room,40,4,0,NaN,NaN,2,36
48892,36485431,Sunny Studio at Historical Neighborhood,23492952,Ilgar & Aysel,Manhattan,Harlem,40.81475,-73.94867,Entire home/apt,115,10,0,NaN,NaN,1,27
48893,36485609,43rd St. Time Square-cozy single bed,30985759,Taz,Manhattan,Hell's Kitchen,40.75751,-73.99112,Shared room,55,1,0,NaN,NaN,6,2
48894,36487245,Trendy duplex in the very heart of Hell's Kitchen,68119814,Christophe,Manhattan,Hell's Kitchen,40.76404,-73.98933,Private room,90,7,0,NaN,NaN,1,23

## è©•ä¼°æ•¸æ“š

åœ¨é€™ä¸€éƒ¨åˆ†ï¼Œæˆ‘å°‡å°åœ¨ä¸Šä¸€éƒ¨åˆ†å»ºç«‹çš„`original_data`é€™å€‹DataFrameæ‰€åŒ…å«çš„æ•¸æ“šé€²è¡Œè©•ä¼°ã€‚

è©•ä¼°ä¸»è¦å¾å…©å€‹æ–¹é¢é€²è¡Œï¼šçµæ§‹å’Œå…§å®¹ï¼Œå³æ•´é½Šåº¦å’Œå¹¹å‡ˆåº¦ã€‚
<br>æ•¸æ“šçš„çµæ§‹æ€§å•é¡ŒæŒ‡ä¸ç¬¦åˆâ€œæ¯åˆ—æ˜¯ä¸€å€‹è®Šé‡ï¼Œæ¯è¡Œæ˜¯ä¸€å€‹è§€å¯Ÿå€¼ï¼Œæ¯å€‹å–®å…ƒæ ¼æ˜¯ä¸€å€‹å€¼â€é€™ä¸‰å€‹æ¨™æº–ã€‚
<br>æ•¸æ“šçš„å…§å®¹æ€§å•é¡ŒåŒ…æ‹¬å­˜åœ¨ä¸Ÿå¤±æ•¸æ“šã€é‡è¦†æ•¸æ“šã€ç„¡æ•ˆæ•¸æ“šç­‰ã€‚

In [4]:
original_data.shape

(48895, 16)

In [5]:
original_data.head() #å…ˆå–å‰5ç­†è³‡æ–™çœ‹æœ‰ç„¡ç•°å¸¸ï¼Œè§€å¯Ÿåˆ°last_reviewèˆ‡reviews_per_monthå¯èƒ½æœƒå­˜åœ¨ç¼ºå¤±å€¼

,id,name,host_id,host_name,neighbourhood_group,neighbourhood,latitude,longitude,room_type,price,minimum_nights,number_of_reviews,last_review,reviews_per_month,calculated_host_listings_count,availability_365
0,2539,Clean & quiet apt home by the park,2787,John,Brooklyn,Kensington,40.64749,-73.97237,Private room,149,1,9,2018-10-19,0.21,6,365
1,2595,Skylit Midtown Castle,2845,Jennifer,Manhattan,Midtown,40.75362,-73.98377,Entire home/apt,225,1,45,2019-05-21,0.38,2,355
2,3647,THE VILLAGE OF HARLEM....NEW YORK !,4632,Elisabeth,Manhattan,Harlem,40.80902,-73.94190,Private room,150,3,0,NaN,NaN,1,365
3,3831,Cozy Entire Floor of Brownstone,4869,LisaRoxanne,Brooklyn,Clinton Hill,40.68514,-73.95976,Entire home/apt,89,1,270,2019-07-05,4.64,1,194
4,5022,Entire Apt: Spacious Studio/Loft by central park,7192,Laura,Manhattan,East Harlem,40.79851,-73.94399,Entire home/apt,80,10,9,2018-11-19,0.10,1,0

### ğŸ”µ Step 1ï¼šçµæ§‹å¿«é€Ÿæª¢æŸ¥ï¼ˆæ•´é½Šåº¦ï¼‰

In [6]:
original_data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 48895 entries, 0 to 48894
Data columns (total 16 columns):
 #   Column                          Non-Null Count  Dtype
---  ------                          --------------  -----
 0   id                              48895 non-null  int64
 1   name                            48879 non-null  object
 2   host_id                         48895 non-null  int64
 3   host_name                       48874 non-null  object
 4   neighbourhood_group             48895 non-null  object
 5   neighbourhood                   48895 non-null  object
 6   latitude                        48895 non-null  float64
 7   longitude                       48895 non-null  float64
 8   room_type                       48895 non-null  object
 9   price                           48895 non-null  int64
 10  minimum_nights                  48895 non-null  int64
 11  number_of_reviews               48895 non-null  int64
 12  last_review                     38843 non-null  object
 13  reviews_per_month               38843 non-null  float64
 14  calculated_host_listings_count  48895 non-null  int64
 15  availability_365                48895 non-null  int64
dtypes: float64(3), int64(7), object(6)
memory usage: 6.0+ MB

#### NOTE : 
æˆ‘ç”¨ original_data.info() æª¢æŸ¥è³‡æ–™ï¼Œæ¯ä¸€æ¬„éƒ½æ˜¯å–®ä¸€è®Šæ•¸ï¼Œæ•¸å€¼æ¬„ä½å‹æ…‹æ­£å¸¸ï¼ˆint64/float64ï¼‰ï¼Œé¡åˆ¥æ¬„ä½æ˜¯ objectï¼Œæ•´é«”çµæ§‹æ²’å•é¡Œã€‚
<br>å”¯ä¸€è¦æ³¨æ„çš„æ˜¯ last_review ç›®å‰æ˜¯å­—ä¸²ï¼Œå¾ŒçºŒè¦è½‰æˆ datetimeï¼›å…¶é¤˜æ¬„ä½ï¼ˆåƒ idã€host_idï¼‰å‹æ…‹æ²’å•é¡Œï¼Œä¸éœ€è¦æ”¹ã€‚
<br>ç¸½é«”ä¾†èªªï¼Œè³‡æ–™çµæ§‹èˆ‡å‹æ…‹éƒ½æ­£å¸¸ï¼Œåªéœ€è™•ç†æ™‚é–“æ¬„ä½å³å¯ã€‚

### ğŸ”µ Step 2ï¼šäººå·¥æŠ½æ¨£æ„Ÿè¦ºè³‡æ–™ï¼ˆæ¢ç´¢ï¼‰

In [7]:
original_data.sample(10)

,id,name,host_id,host_name,neighbourhood_group,neighbourhood,latitude,longitude,room_type,price,minimum_nights,number_of_reviews,last_review,reviews_per_month,calculated_host_listings_count,availability_365
44172,34086188,Cozy room in Harlem next to 2/3 train,44919396,Forest,Manhattan,Harlem,40.81808,-73.93671,Private room,45,1,5,2019-06-06,2.38,1,0
16310,13125552,Beautiful Bushwick Bungalow,20109188,Neanna,Brooklyn,Williamsburg,40.70413,-73.93205,Entire home/apt,175,2,102,2019-06-25,2.68,1,284
24263,19544404,Beautiful 2 Bedroom Lower East Side,72539408,Michelle,Manhattan,Lower East Side,40.72119,-73.98738,Entire home/apt,125,2,0,NaN,NaN,1,0
44442,34229869,Cozy Living Room Futon,27537930,Preston,Bronx,Pelham Gardens,40.86209,-73.84667,Shared room,20,1,0,NaN,NaN,1,5
26237,20916311,HUGE apartment in Crown Heights,22565156,Melissa,Brooklyn,Crown Heights,40.66689,-73.92806,Private room,45,21,1,2017-10-02,0.05,1,44
40668,31549470,Cozy UES Studio w/ Gym + Doorman near subway b...,107434423,Blueground,Manhattan,Upper East Side,40.77478,-73.95486,Entire home/apt,236,30,0,NaN,NaN,232,127
3061,1806651,Bright and Airy Brooklyn Loft,3267818,Allison,Brooklyn,Williamsburg,40.70498,-73.92868,Entire home/apt,120,3,2,2015-01-02,0.03,1,0
14516,11437792,Hipster Room in South Williamsburg,354385,Chris,Brooklyn,Williamsburg,40.71004,-73.95644,Private room,50,1,2,2017-02-12,0.07,1,0
27595,21706896,Amazing PRIVATE Bedroom+Bathroom in East Village!,27636450,Lauren,Manhattan,East Village,40.72639,-73.99052,Private room,150,2,0,NaN,NaN,2,0
10716,8249156,Room #3 Near Manhattan NYC.,22384027,Shahana,Brooklyn,Brownsville,40.67065,-73.91643,Private room,39,1,45,2019-05-21,0.97,10,158

åƒ¹æ ¼ï¼šæ²’æœ‰ 0 æˆ–è² æ•¸ï¼Œå¶æœ‰é«˜åƒ¹ä½†åˆç†
<br>åç¨±ï¼šæ²’æœ‰äº‚ç¢¼
<br>åœ°åï¼šåˆç†
<br>æ•¸å€¼æ¬„ä½ï¼šæ²’æœ‰æ˜é¡¯ç•°å¸¸
<br>ç¼ºå¤±å€¼ï¼šlast_review å’Œ reviews_per_month æœ‰ NaNï¼Œåˆç†
<br>æ•´é«”ä¾†èªªï¼Œè³‡æ–™ã€Œé•·ç›¸ã€çœ‹èµ·ä¾†æ­£å¸¸

è§€å¯Ÿä»¥ä¸ŠæŠ½æ¨£çš„åç­†è³‡æ–™ä¾†çœ‹
ç¬¦åˆï¼š
æ¯ä¸€åˆ— = ä¸€ç­†æˆ¿æº
æ¯ä¸€æ¬„ = ä¸€å€‹è®Šæ•¸
æ¯å€‹æ ¼å­ = ä¸€å€‹å€¼
âœ”ï¸ æ²’æœ‰çµæ§‹æ€§å•é¡Œ

### Step 3ï¼šç³»çµ±æ€§æª¢æŸ¥ä¹¾æ·¨åº¦ï¼ˆé‡é»ï¼‰

In [8]:
#Step 3-1 ç¼ºå¤±å€¼
original_data.isnull().sum()

id                                    0
name                                 16
host_id                               0
host_name                            21
neighbourhood_group                   0
neighbourhood                         0
latitude                              0
longitude                             0
room_type                             0
price                                 0
minimum_nights                        0
number_of_reviews                     0
last_review                       10052
reviews_per_month                 10052
calculated_host_listings_count        0
availability_365                      0
dtype: int64

ğŸ’¡ ç¶œåˆä¸Šé¢çµæœè§€å¯Ÿï¼š

| æ¬„ä½                | Non-Null Count | ç¼ºå¤±æƒ…æ³               |
| ----------------- | -------------- | ------------------ |
| name              | 48879          | æœ‰ 16 ç­†ç¼ºå¤±           |
| host_name         | 48874          | æœ‰ 21 ç­†ç¼ºå¤±           |
| last_review       | 38843          | æœ‰ 10052 ç­†ç¼ºå¤±ï¼ˆç´„ 20%ï¼‰ |
| reviews_per_month | 38843          | åŒä¸Š                 |


last_review å’Œ reviews_per_month æœ‰ç¼ºå¤± â†’ å¯èƒ½æ˜¯å¾æœªæœ‰äººè©•è«–éçš„æˆ¿æº
<br>name / host_name æœ‰å°‘é‡ç¼ºå¤± â†’ å¯ä»¥æ±ºå®šæ˜¯ä¸Ÿæ‰ã€è£œã€ŒUnknownã€æˆ–ä¿ç•™

In [9]:
#ğŸ” Step 3-2ï¼šé‡è¤‡å€¼
original_data.duplicated().sum()

np.int64(0)

In [10]:
#ğŸ” Step 3-3 æ•¸å€¼ç¯„åœ
original_data.describe()

,id,host_id,latitude,longitude,price,minimum_nights,number_of_reviews,reviews_per_month,calculated_host_listings_count,availability_365
count,4.889500e+04,4.889500e+04,48895.000000,48895.000000,48895.000000,48895.000000,48895.000000,38843.000000,48895.000000,48895.000000
mean,1.901714e+07,6.762001e+07,40.728949,-73.952170,152.720687,7.029962,23.274466,1.373221,7.143982,112.781327
std,1.098311e+07,7.861097e+07,0.054530,0.046157,240.154170,20.510550,44.550582,1.680442,32.952519,131.622289
min,2.539000e+03,2.438000e+03,40.499790,-74.244420,0.000000,1.000000,0.000000,0.010000,1.000000,0.000000
25%,9.471945e+06,7.822033e+06,40.690100,-73.983070,69.000000,1.000000,1.000000,0.190000,1.000000,0.000000
50%,1.967728e+07,3.079382e+07,40.723070,-73.955680,106.000000,3.000000,5.000000,0.720000,1.000000,45.000000
75%,2.915218e+07,1.074344e+08,40.763115,-73.936275,175.000000,5.000000,24.000000,2.020000,2.000000,227.000000
max,3.648724e+07,2.743213e+08,40.913060,-73.712990,10000.000000,1250.000000,629.000000,58.500000,327.000000,365.000000

In [11]:
# æ‰¾å‡ºã€Œæœ‰è©•è«–ã€ä½†æ˜¯ã€Œæœ€å¾Œè©•è«–æ—¥æœŸç¼ºå¤±ã€çš„æˆ¿æºï¼Œå› ç‚ºé€™æ¨£ä¸åˆç†ï¼Œå¦‚æœç„¡æ•¸æ“šé¡¯ç¤ºå‡ºä¾†è¡¨ç¤ºæ˜¯åˆç†çš„ã€‚
original_data[
    (original_data['number_of_reviews'] > 0) &
    (original_data['last_review'].isnull())
]

Empty DataFrame
Columns: [id, name, host_id, host_name, neighbourhood_group, neighbourhood, latitude, longitude, room_type, price, minimum_nights, number_of_reviews, last_review, reviews_per_month, calculated_host_listings_count, availability_365]
Index: []

In [12]:
original_data[original_data['host_name'].isnull()]

,id,name,host_id,host_name,neighbourhood_group,neighbourhood,latitude,longitude,room_type,price,minimum_nights,number_of_reviews,last_review,reviews_per_month,calculated_host_listings_count,availability_365
360,100184,Bienvenue,526653,NaN,Queens,Queens Village,40.72413,-73.76133,Private room,50,1,43,2019-07-08,0.45,1,88
2700,1449546,Cozy Studio in Flatbush,7779204,NaN,Brooklyn,Flatbush,40.64965,-73.96154,Entire home/apt,100,30,49,2017-01-02,0.69,1,342
5745,4183989,SPRING in the City!! Zen-Style Tranquil Bedroom,919218,NaN,Manhattan,Harlem,40.80606,-73.95061,Private room,86,3,34,2019-05-23,1.00,1,359
6075,4446862,Charming Room in Prospect Heights!,23077718,NaN,Brooklyn,Crown Heights,40.67512,-73.96146,Private room,50,1,0,NaN,NaN,1,0
6582,4763327,"Luxurious, best location, spa inc'l",24576978,NaN,Brooklyn,Greenpoint,40.72035,-73.95355,Entire home/apt,195,1,1,2015-10-20,0.02,1,0
8163,6292866,Modern Quiet Gem Near All,32722063,NaN,Brooklyn,East Flatbush,40.65263,-73.93215,Entire home/apt,85,2,182,2019-06-19,3.59,2,318
8257,6360224,"Sunny, Private room in Bushwick",33134899,NaN,Brooklyn,Bushwick,40.70146,-73.92792,Private room,37,1,1,2015-07-01,0.02,1,0
8852,6786181,R&S Modern Spacious Hideaway,32722063,NaN,Brooklyn,East Flatbush,40.64345,-73.93643,Entire home/apt,100,2,157,2019-06-19,3.18,2,342
9138,6992973,1 Bedroom in Prime Williamsburg,5162530,NaN,Brooklyn,Williamsburg,40.71838,-73.95630,Entire home/apt,145,1,0,NaN,NaN,1,0
9817,7556587,Sunny Room in Harlem,39608626,NaN,Manhattan,Harlem,40.82929,-73.94182,Private room,28,1,1,2015-08-01,0.02,1,0
14040,10709846,"Sunny, spacious room in Greenpoint",7822683,NaN,Brooklyn,Greenpoint,40.73539,-73.95838,Private room,55,10,2,2016-11-05,0.05,1,0
14631,11553543,Cozy Room Astoria,26138712,NaN,Queens,Ditmars Steinway,40.77587,-73.91775,Private room,45,1,5,2017-01-01,0.13,1,0
15174,12113879,"Sunny, Large West Village 1 BR Near Everything",5300585,NaN,Manhattan,Chelsea,40.73949,-73.99801,Entire home/apt,220,4,81,2019-07-02,2.11,1,217
19565,15648096,Spacious 2 bedroom close to Manhattan,100971588,NaN,Bronx,Highbridge,40.83844,-73.92489,Entire home/apt,75,4,37,2019-07-07,1.21,1,26
27777,21787094,Spacious and Bright Midtown East Apartment,415290,NaN,Manhattan,Upper East Side,40.76436,-73.96836,Entire home/apt,325,1,0,NaN,NaN,1,0
27962,21867710,Amazing room in the centre on Manhatten! Welcome!,159156636,NaN,Manhattan,Hell's Kitchen,40.75668,-73.99097,Private room,120,1,89,2019-01-01,5.16,3,0
28042,21901156,Best Deal! Lovely place in Manhattan! Time Squ...,159156636,NaN,Manhattan,Hell's Kitchen,40.75656,-73.99063,Private room,120,1,109,2019-01-01,5.97,3,0
28274,21990808,***SLEEPING IN THE GOLDEN PLACE***,159156636,NaN,Manhattan,Hell's Kitchen,40.75835,-73.99065,Private room,120,1,88,2018-12-14,4.93,3,0
30570,23660605,Private Bedroom w/ Balcony view of Central Park,177146433,NaN,Manhattan,East Harlem,40.79766,-73.94824,Private room,139,1,6,2018-08-12,0.46,1,0
32193,25180572,Beautiful Cozy Studio Apt. UWS,119609345,NaN,Manhattan,Upper West Side,40.77701,-73.97667,Entire home/apt,180,4,0,NaN,NaN,1,0
38992,30468335,LARGE Prospect Lefferts Gardens Bedroom,228750026,NaN,Brooklyn,Flatbush,40.65152,-73.95271,Private room,55,7,0,NaN,NaN,1,69

In [13]:
original_data[ ( original_data['last_review'].isnull() ) &  (original_data['reviews_per_month'].isnull() )]

,id,name,host_id,host_name,neighbourhood_group,neighbourhood,latitude,longitude,room_type,price,minimum_nights,number_of_reviews,last_review,reviews_per_month,calculated_host_listings_count,availability_365
2,3647,THE VILLAGE OF HARLEM....NEW YORK !,4632,Elisabeth,Manhattan,Harlem,40.80902,-73.94190,Private room,150,3,0,NaN,NaN,1,365
19,7750,Huge 2 BR Upper East Cental Park,17985,Sing,Manhattan,East Harlem,40.79685,-73.94872,Entire home/apt,190,7,0,NaN,NaN,2,249
26,8700,Magnifique Suite au N de Manhattan - vue Cloitres,26394,Claude & Sophie,Manhattan,Inwood,40.86754,-73.92639,Private room,80,4,0,NaN,NaN,1,0
36,11452,Clean and Quiet in Brooklyn,7355,Vt,Brooklyn,Bedford-Stuyvesant,40.68876,-73.94312,Private room,35,60,0,NaN,NaN,1,365
38,11943,Country space in the city,45445,Harriet,Brooklyn,Flatbush,40.63702,-73.96327,Private room,150,1,0,NaN,NaN,1,365
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
48890,36484665,Charming one bedroom - newly renovated rowhouse,8232441,Sabrina,Brooklyn,Bedford-Stuyvesant,40.67853,-73.94995,Private room,70,2,0,NaN,NaN,2,9
48891,36485057,Affordable room in Bushwick/East Williamsburg,6570630,Marisol,Brooklyn,Bushwick,40.70184,-73.93317,Private room,40,4,0,NaN,NaN,2,36
48892,36485431,Sunny Studio at Historical Neighborhood,23492952,Ilgar & Aysel,Manhattan,Harlem,40.81475,-73.94867,Entire home/apt,115,10,0,NaN,NaN,1,27
48893,36485609,43rd St. Time Square-cozy single bed,30985759,Taz,Manhattan,Hell's Kitchen,40.75751,-73.99112,Shared room,55,1,0,NaN,NaN,6,2
48894,36487245,Trendy duplex in the very heart of Hell's Kitchen,68119814,Christophe,Manhattan,Hell's Kitchen,40.76404,-73.98933,Private room,90,7,0,NaN,NaN,1,23

## æ¸…ç†æ•°æ®

| æ¬„ä½                | Non-Null Count | ç¼ºå¤±æƒ…æ³               |
| ----------------- | -------------- | ------------------ |
| name              | 48879          | æœ‰ 16 ç­†ç¼ºå¤±           |
| host_name         | 48874          | æœ‰ 21 ç­†ç¼ºå¤±           |
| last_review       | 38843          | æœ‰ 10052 ç­†ç¼ºå¤±ï¼ˆç´„ 20%ï¼‰ |
| reviews_per_month | 38843          | åŒä¸Š                 |

å°‘é‡ç¼ºå¤±ï¼ˆnameã€host_nameï¼‰ç›´æ¥è£œ 'Unknown'ï¼›å¤§é‡ç¼ºå¤±ï¼ˆlast_reviewã€reviews_per_monthï¼‰è¦åˆ†é–‹è™•ç†ï¼Œ
<br>reviews_per_month å¡« 0ï¼Œlast_review ä¿ç•™ NaN

In [14]:
cleaned_data = original_data.copy()
cleaned_data.head()

,id,name,host_id,host_name,neighbourhood_group,neighbourhood,latitude,longitude,room_type,price,minimum_nights,number_of_reviews,last_review,reviews_per_month,calculated_host_listings_count,availability_365
0,2539,Clean & quiet apt home by the park,2787,John,Brooklyn,Kensington,40.64749,-73.97237,Private room,149,1,9,2018-10-19,0.21,6,365
1,2595,Skylit Midtown Castle,2845,Jennifer,Manhattan,Midtown,40.75362,-73.98377,Entire home/apt,225,1,45,2019-05-21,0.38,2,355
2,3647,THE VILLAGE OF HARLEM....NEW YORK !,4632,Elisabeth,Manhattan,Harlem,40.80902,-73.94190,Private room,150,3,0,NaN,NaN,1,365
3,3831,Cozy Entire Floor of Brownstone,4869,LisaRoxanne,Brooklyn,Clinton Hill,40.68514,-73.95976,Entire home/apt,89,1,270,2019-07-05,4.64,1,194
4,5022,Entire Apt: Spacious Studio/Loft by central park,7192,Laura,Manhattan,East Harlem,40.79851,-73.94399,Entire home/apt,80,10,9,2018-11-19,0.10,1,0

In [15]:
# ä½å®¿åç¨±ç¼ºå¤±å€¼ æˆ‘å¡« 'Unknown'
cleaned_data['name'] = cleaned_data['name'].fillna('Unknown')

#å› ç‚ºæˆ¿æ±åå­—ä¸å½±éŸ¿æ•´é«”æ•¸æ“š æ‰€ä»¥æ²’æœ‰åå­—çš„æˆ¿æ±æˆ‘éƒ½è£œä¸ŠUnknown
cleaned_data['host_name'] = cleaned_data['host_name'].fillna('Unknown')

#reviews_per_month ç¼ºå¤±å€¼å¡« 0
cleaned_data['reviews_per_month'] = cleaned_data['reviews_per_month'].fillna(0)

In [16]:
cleaned_data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 48895 entries, 0 to 48894
Data columns (total 16 columns):
 #   Column                          Non-Null Count  Dtype
---  ------                          --------------  -----
 0   id                              48895 non-null  int64
 1   name                            48895 non-null  object
 2   host_id                         48895 non-null  int64
 3   host_name                       48895 non-null  object
 4   neighbourhood_group             48895 non-null  object
 5   neighbourhood                   48895 non-null  object
 6   latitude                        48895 non-null  float64
 7   longitude                       48895 non-null  float64
 8   room_type                       48895 non-null  object
 9   price                           48895 non-null  int64
 10  minimum_nights                  48895 non-null  int64
 11  number_of_reviews               48895 non-null  int64
 12  last_review                     38843 non-null  object
 13  reviews_per_month               48895 non-null  float64
 14  calculated_host_listings_count  48895 non-null  int64
 15  availability_365                48895 non-null  int64
dtypes: float64(3), int64(7), object(6)
memory usage: 6.0+ MB

#### è³‡æ–™å‹æ…‹è½‰æ›è¦åŠƒ

åœ¨é€²è¡Œè³‡æ–™æ¸…ç†å‰ï¼Œé è¨ˆå°éƒ¨åˆ†æ¬„ä½é€²è¡Œè³‡æ–™å‹æ…‹è½‰æ›ï¼Œä»¥ç¢ºä¿å¾ŒçºŒåˆ†æçš„æ­£ç¢ºæ€§èˆ‡ä¸€è‡´æ€§ï¼š

#### 1. `id` èˆ‡ `host_id`
- ç›®å‰å¯èƒ½ç‚ºæµ®é»æ•¸ï¼Œç‚ºè­˜åˆ¥ç¢¼æ¬„ä½ã€‚
- é è¨ˆè½‰æ›ç‚ºæ–‡å­—å‹æ…‹ï¼ˆ`string`ï¼‰ï¼Œé¿å…å‡ºç¾å°æ•¸é»ï¼Œæ–¹ä¾¿å¾ŒçºŒè³‡æ–™æ¯”å°èˆ‡åˆä½µã€‚

#### 2. `reviews_per_month`
- ç›®å‰ç‚ºæµ®é»æ•¸ï¼Œå­˜åœ¨ç¼ºå¤±å€¼ã€‚
- ä¿æŒæµ®é»æ•¸å‹æ…‹ä»¥åˆ©æ•¸å€¼é‹ç®—ï¼Œä¸¦é‡å°ç¼ºå¤±å€¼é€²è¡Œå¡«è£œï¼ˆé è¨ˆå¡« 0ï¼‰ã€‚

#### 3. æ•¸å€¼æ¬„ä½
- åŒ…å« `price`ã€`minimum_nights`ã€`number_of_reviews`ã€`calculated_host_listings_count`ã€`availability_365`ã€‚
- å‹æ…‹ç„¡éœ€è½‰æ›ï¼Œå¾ŒçºŒå°‡é‡å°ç•°å¸¸å€¼ï¼ˆå¦‚éé«˜çš„ `price` æˆ– `minimum_nights`ï¼‰é€²è¡Œè™•ç†ã€‚


#### 4.æ—¥æœŸæ¬„ä½

`last_review` ç›®å‰ç‚ºç‰©ä»¶å‹æ…‹ï¼ˆobject / stringï¼‰
é è¨ˆè½‰æ›ç‚º datetime å‹æ…‹ï¼Œæ–¹ä¾¿å¾ŒçºŒåšæ™‚é–“æ’åºã€åˆ†æœˆçµ±è¨ˆæˆ–è¨ˆç®—å¤©æ•¸


**ç¸½çµ**ï¼šä¸»è¦è½‰æ›é›†ä¸­åœ¨è­˜åˆ¥ç¢¼æ¬„ä½ (`id`ã€`host_id`) è½‰ç‚ºæ–‡å­—å‹æ…‹ï¼Œä¿ç•™æµ®é»å‹æ…‹æ¬„ä½ä»¥ä¾¿é‹ç®—ï¼ŒåŒæ™‚è™•ç†ç¼ºå¤±å€¼èˆ‡ç•°å¸¸å€¼ã€‚

In [17]:
cleaned_data['id'] = cleaned_data['id'].astype(int).astype(str) #id
cleaned_data['host_id'] = cleaned_data['host_id'].astype(int).astype(str) #host_id

cleaned_data['last_review'] = pd.to_datetime(original_data['last_review']) #last_review è½‰æˆdatetime

In [18]:
cleaned_data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 48895 entries, 0 to 48894
Data columns (total 16 columns):
 #   Column                          Non-Null Count  Dtype
---  ------                          --------------  -----
 0   id                              48895 non-null  object
 1   name                            48895 non-null  object
 2   host_id                         48895 non-null  object
 3   host_name                       48895 non-null  object
 4   neighbourhood_group             48895 non-null  object
 5   neighbourhood                   48895 non-null  object
 6   latitude                        48895 non-null  float64
 7   longitude                       48895 non-null  float64
 8   room_type                       48895 non-null  object
 9   price                           48895 non-null  int64
 10  minimum_nights                  48895 non-null  int64
 11  number_of_reviews               48895 non-null  int64
 12  last_review                     38843 non-null  datetime64[ns]
 13  reviews_per_month               48895 non-null  float64
 14  calculated_host_listings_count  48895 non-null  int64
 15  availability_365                48895 non-null  int64
dtypes: datetime64[ns](1), float64(3), int64(5), object(7)
memory usage: 6.0+ MB

In [19]:
cleaned_data.describe()

,latitude,longitude,price,minimum_nights,number_of_reviews,last_review,reviews_per_month,calculated_host_listings_count,availability_365
count,48895.000000,48895.000000,48895.000000,48895.000000,48895.000000,38843,48895.000000,48895.000000,48895.000000
mean,40.728949,-73.952170,152.720687,7.029962,23.274466,2018-10-04 01:47:23.910099456,1.090910,7.143982,112.781327
min,40.499790,-74.244420,0.000000,1.000000,0.000000,2011-03-28 00:00:00,0.000000,1.000000,0.000000
25%,40.690100,-73.983070,69.000000,1.000000,1.000000,2018-07-08 00:00:00,0.040000,1.000000,0.000000
50%,40.723070,-73.955680,106.000000,3.000000,5.000000,2019-05-19 00:00:00,0.370000,1.000000,45.000000
75%,40.763115,-73.936275,175.000000,5.000000,24.000000,2019-06-23 00:00:00,1.580000,2.000000,227.000000
max,40.913060,-73.712990,10000.000000,1250.000000,629.000000,2019-07-08 00:00:00,58.500000,327.000000,365.000000
std,0.054530,0.046157,240.154170,20.510550,44.550582,NaN,1.597283,32.952519,131.622289

In [20]:
# 1ï¸âƒ£ ç¶“ç·¯åº¦ç¯„åœæª¢æŸ¥
cleaned_data = cleaned_data[
    (cleaned_data['latitude'].between(40.5, 41)) &
    (cleaned_data['longitude'].between(-74.25, -73.7))
]

In [21]:
# 2ï¸âƒ£ price èˆ‡ minimum_nights ç•°å¸¸å€¼ç¯©é¸ï¼ˆIQR æ³•ï¼‰


# price
Q1_price = cleaned_data['price'].quantile(0.25)
Q3_price = cleaned_data['price'].quantile(0.75)
IQR_price = Q3_price - Q1_price
lower_price = Q1_price - 1.5 * IQR_price
upper_price = Q3_price + 1.5 * IQR_price

# minimum_nights
Q1_min = cleaned_data['minimum_nights'].quantile(0.25)
Q3_min = cleaned_data['minimum_nights'].quantile(0.75)
IQR_min = Q3_min - Q1_min
lower_min = Q1_min - 1.5 * IQR_min
upper_min = Q3_min + 1.5 * IQR_min

# ç¯©æ‰æ¥µç«¯å€¼
cleaned_data = cleaned_data[
    (cleaned_data['price'] >= lower_price) &
    (cleaned_data['price'] <= upper_price) &
    (cleaned_data['minimum_nights'] >= lower_min) &
    (cleaned_data['minimum_nights'] <= upper_min)
]

### é‚è¼¯æª¢æŸ¥

In [22]:
# 1ï¸âƒ£ number_of_reviews > 0 ä½† last_review ç‚º NaN
logic_1 = cleaned_data[
    (cleaned_data['number_of_reviews'] > 0) &
    (cleaned_data['last_review'].isnull())
]

# 2ï¸âƒ£ minimum_nights > 365
logic_2 = cleaned_data[cleaned_data['minimum_nights'] > 365]

# 3ï¸âƒ£ price <= 0 æˆ–éé«˜ï¼ˆä¸Šé™å¯ä¾ IQR æˆ–ç¶“é©—å€¼ï¼‰
logic_3 = cleaned_data[(cleaned_data['price'] < 0) ]

# 4ï¸âƒ£ availability_365 = 0 ä¸” number_of_reviews > 0
logic_4 = cleaned_data[
    (cleaned_data['availability_365'] == 0) &
    (cleaned_data['number_of_reviews'] > 0)
]

# 5ï¸âƒ£ calculated_host_listings_count = 0 ä½†æœ‰æˆ¿æº
logic_5 = cleaned_data[
    (cleaned_data['calculated_host_listings_count'] == 0)
]

# 6ï¸âƒ£ ç¶“ç·¯åº¦é›¢ NYC å¤ªé ï¼ˆç¯„ä¾‹ï¼‰
logic_6 = cleaned_data[
    (cleaned_data['latitude'] < 40.5) | (cleaned_data['latitude'] > 41) |
    (cleaned_data['longitude'] < -74.25) | (cleaned_data['longitude'] > -73.7)
]

# 7ï¸âƒ£ reviews_per_month > 10ï¼ˆæ¥µç«¯å€¼æ¨™è¨˜ï¼‰
logic_7 = cleaned_data[cleaned_data['reviews_per_month'] > 10]

# é¡¯ç¤ºæ¯å€‹é‚è¼¯æª¢æŸ¥çµæœæ•¸é‡
print("1ï¸âƒ£", len(logic_1), "ç­†ç•°å¸¸")
print("2ï¸âƒ£", len(logic_2), "ç­†ç•°å¸¸")
print("3ï¸âƒ£", len(logic_3), "ç­†ç•°å¸¸")
print("4ï¸âƒ£", len(logic_4), "ç­†ç•°å¸¸")
print("5ï¸âƒ£", len(logic_5), "ç­†ç•°å¸¸")
print("6ï¸âƒ£", len(logic_6), "ç­†ç•°å¸¸")
print("7ï¸âƒ£", len(logic_7), "ç­†ç†±é–€æˆ¿æº")

1ï¸âƒ£ 0 ç­†ç•°å¸¸
2ï¸âƒ£ 0 ç­†ç•°å¸¸
3ï¸âƒ£ 0 ç­†ç•°å¸¸
4ï¸âƒ£ 11665 ç­†ç•°å¸¸
5ï¸âƒ£ 0 ç­†ç•°å¸¸
6ï¸âƒ£ 0 ç­†ç•°å¸¸
7ï¸âƒ£ 79 ç­†ç†±é–€æˆ¿æº

In [23]:
#çœ‹ä¸€ä¸‹å“ªäº›æˆ¿æºç•°å¸¸åƒ¹æ ¼
cleaned_data[(cleaned_data['price'] <= 0) ]

,id,name,host_id,host_name,neighbourhood_group,neighbourhood,latitude,longitude,room_type,price,minimum_nights,number_of_reviews,last_review,reviews_per_month,calculated_host_listings_count,availability_365
23161,18750597,"Huge Brooklyn Brownstone Living, Close to it all.",8993084,Kimberly,Brooklyn,Bedford-Stuyvesant,40.69023,-73.95428,Private room,0,4,1,2018-01-06,0.05,4,28
25433,20333471,â˜…Hostel Style Room | Ideal Traveling Buddiesâ˜…,131697576,Anisha,Bronx,East Morrisania,40.83296,-73.88668,Private room,0,2,55,2019-06-24,2.56,4,127
25634,20523843,"MARTIAL LOFT 3: REDEMPTION (upstairs, 2nd room)",15787004,Martial Loft,Brooklyn,Bushwick,40.69467,-73.92433,Private room,0,2,16,2019-05-18,0.71,5,0
25753,20608117,"Sunny, Quiet Room in Greenpoint",1641537,Lauren,Brooklyn,Greenpoint,40.72462,-73.94072,Private room,0,2,12,2017-10-27,0.53,2,0
25778,20624541,Modern apartment in the heart of Williamsburg,10132166,Aymeric,Brooklyn,Williamsburg,40.70838,-73.94645,Entire home/apt,0,5,3,2018-01-02,0.15,1,73
25794,20639628,Spacious comfortable master bedroom with nice ...,86327101,Adeyemi,Brooklyn,Bedford-Stuyvesant,40.68173,-73.91342,Private room,0,1,93,2019-06-15,4.28,6,176
25795,20639792,Contemporary bedroom in brownstone with nice view,86327101,Adeyemi,Brooklyn,Bedford-Stuyvesant,40.68279,-73.91170,Private room,0,1,95,2019-06-21,4.37,6,232
25796,20639914,Cozy yet spacious private brownstone bedroom,86327101,Adeyemi,Brooklyn,Bedford-Stuyvesant,40.68258,-73.91284,Private room,0,1,95,2019-06-23,4.35,6,222
26259,20933849,the best you can find,13709292,Qiuchi,Manhattan,Murray Hill,40.75091,-73.97597,Entire home/apt,0,3,0,NaT,0.00,1,0

In [24]:
# åˆªæ‰9ç­† price <= 0 çš„ç•°å¸¸æˆ¿æº 
cleaned_data = cleaned_data[cleaned_data['price'] > 0]

In [25]:
#ç¶“ç·¯åº¦é›¢ NYC è¶…éç¯„åœ åˆªé™¤ç•°å¸¸çš„1ç­†
cleaned_data = cleaned_data[
    (cleaned_data['latitude'].between(40.5, 41)) &
    (cleaned_data['longitude'].between(-74.25, -73.7))
]

## é‚è¼¯æª¢æŸ¥ï¼šavailability_365 = 0 ä¸” number_of_reviews > 0

åœ¨é‚è¼¯æª¢æŸ¥ä¸­ï¼Œæˆ‘å€‘ç™¼ç¾ **10661 ç­†æˆ¿æº**åŒæ™‚æ»¿è¶³ï¼š

- `availability_365 = 0` â†’ æˆ¿æºä¸€å¹´éƒ½ä¸é–‹æ”¾
- `number_of_reviews > 0` â†’ ä½†å»æœ‰äººè©•è«–é

é€™å€‹ç¾è±¡å…¶å¯¦æ˜¯åˆç†çš„ï¼ŒåŸå› å¯èƒ½å¦‚ä¸‹ï¼š

### å¯èƒ½åŸå› 

1. **æ­·å²è©•è«–**
   - é€™äº›æˆ¿æºå¯èƒ½ä»¥å‰æœ‰é–‹æ”¾éï¼Œç´¯ç©äº†ä¸€äº›è©•è«–
   - ç¾åœ¨è¨­å®š `availability_365 = 0` è¡¨ç¤º **æš«æ™‚ä¸æ¥å—é è¨‚**

2. **æ¸¬è©¦ / ä¸‹æ¶æˆ¿æº**
   - æˆ¿æ±å¯èƒ½å·²ä¸‹æ¶æˆ–æš«åœæˆ¿æº
   - ä½†ä¹‹å‰ç´¯ç©çš„è©•è«–ä»ä¿ç•™åœ¨è³‡æ–™ä¸­

3. **è³‡æ–™ç•°å¸¸**
   - ä¹Ÿæœ‰å¯èƒ½æ˜¯æˆ¿æºè³‡æ–™éŒ„å…¥éŒ¯èª¤
   - ä¸éé€šå¸¸é€™ç¨®æƒ…æ³å°å¤§éƒ¨åˆ†åˆ†æå½±éŸ¿ä¸å¤§

### è™•ç†å»ºè­°

- **æ¨™è¨˜å³å¯**

In [26]:
cleaned_data['inactive_but_reviewed'] = (
    (cleaned_data['availability_365'] == 0) &
    (cleaned_data['number_of_reviews'] > 0)
)

## ä¿å­˜æ¸…ç†åçš„æ•°æ®

å®Œæˆæ•°æ®æ¸…ç†åï¼ŒæŠŠå¹²å‡€æ•´é½çš„æ•°æ®ä¿å­˜åˆ°æ–°çš„æ–‡ä»¶é‡Œï¼Œæ–‡ä»¶åä¸º`airbnb_NYC_2019_cleaned.csv`ã€‚

In [27]:
cleaned_data.head()

,id,name,host_id,host_name,neighbourhood_group,neighbourhood,latitude,longitude,room_type,price,minimum_nights,number_of_reviews,last_review,reviews_per_month,calculated_host_listings_count,availability_365,inactive_but_reviewed
0,2539,Clean & quiet apt home by the park,2787,John,Brooklyn,Kensington,40.64749,-73.97237,Private room,149,1,9,2018-10-19,0.21,6,365,False
1,2595,Skylit Midtown Castle,2845,Jennifer,Manhattan,Midtown,40.75362,-73.98377,Entire home/apt,225,1,45,2019-05-21,0.38,2,355,False
2,3647,THE VILLAGE OF HARLEM....NEW YORK !,4632,Elisabeth,Manhattan,Harlem,40.80902,-73.94190,Private room,150,3,0,NaT,0.00,1,365,False
3,3831,Cozy Entire Floor of Brownstone,4869,LisaRoxanne,Brooklyn,Clinton Hill,40.68514,-73.95976,Entire home/apt,89,1,270,2019-07-05,4.64,1,194,False
4,5022,Entire Apt: Spacious Studio/Loft by central park,7192,Laura,Manhattan,East Harlem,40.79851,-73.94399,Entire home/apt,80,10,9,2018-11-19,0.10,1,0,True

In [28]:
cleaned_data.to_csv("airbnb_NYC_2019_cleaned.csv", index=False)

In [29]:
pd.read_csv("airbnb_NYC_2019_cleaned.csv").head()

,id,name,host_id,host_name,neighbourhood_group,neighbourhood,latitude,longitude,room_type,price,minimum_nights,number_of_reviews,last_review,reviews_per_month,calculated_host_listings_count,availability_365,inactive_but_reviewed
0,2539,Clean & quiet apt home by the park,2787,John,Brooklyn,Kensington,40.64749,-73.97237,Private room,149,1,9,2018-10-19,0.21,6,365,False
1,2595,Skylit Midtown Castle,2845,Jennifer,Manhattan,Midtown,40.75362,-73.98377,Entire home/apt,225,1,45,2019-05-21,0.38,2,355,False
2,3647,THE VILLAGE OF HARLEM....NEW YORK !,4632,Elisabeth,Manhattan,Harlem,40.80902,-73.94190,Private room,150,3,0,NaN,0.00,1,365,False
3,3831,Cozy Entire Floor of Brownstone,4869,LisaRoxanne,Brooklyn,Clinton Hill,40.68514,-73.95976,Entire home/apt,89,1,270,2019-07-05,4.64,1,194,False
4,5022,Entire Apt: Spacious Studio/Loft by central park,7192,Laura,Manhattan,East Harlem,40.79851,-73.94399,Entire home/apt,80,10,9,2018-11-19,0.10,1,0,True

# Airbnb è³‡æ–™æ¸…ç†é€²åº¦ç¸½çµ

## 1ï¸âƒ£ è³‡æ–™å‹æ…‹è½‰æ›
- `id`ã€`host_id` â†’ string
- `last_review` â†’ datetime
- æ•¸å€¼æ¬„ä½ â†’ ä¿ç•™ float / int

## 2ï¸âƒ£ ç¼ºå¤±å€¼è™•ç†
- `host_name` / `name` â†’ å¡« "Unknown"
- `reviews_per_month` â†’ å¡« 0
- `last_review` â†’ ä¿ç•™ NaN

## 3ï¸âƒ£ ç•°å¸¸å€¼ç¯©é¸ / æ¸…ç†
- ç¶“ç·¯åº¦ä¸åœ¨ NYC ç¯„åœ â†’ åˆªæ‰
- `price <= 0` â†’ åˆªæ‰
- `price` / `minimum_nights` æ¥µç«¯å€¼ â†’ ä½¿ç”¨ IQR ç¯©æ‰

## 4ï¸âƒ£ é‚è¼¯æª¢æŸ¥æ¨™è¨˜
- `availability_365 = 0` ä¸” `number_of_reviews > 0` â†’ æ¨™è¨˜
- `number_of_reviews > 0` ä½† `last_review = NaN` â†’ æ¨™è¨˜
- `reviews_per_month > 10` â†’ æ¨™è¨˜ç†±é–€æˆ¿æº